<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{ title }}!
  </h1>
</div>
<button (click) = "getData()">Test Connection To Servlet</button>
<h1>{{ info }}</h1><br>
<button (click) = "getQualityAuditTestResults()">Run Quality Audit Page Tests</button>
<pre [innerHTML]="qualityAuditResults" *ngIf="qualityAuditResults"></pre><br>
<hr>
<button (click) = "getProtractorResults()">Run Category Page Tests</button>
<pre [innerHTML]="protractorResults" *ngIf="protractorResults"></pre><br>
<hr>
<button (click) = "getLocationResults()">Run Location Page Tests</button>
<pre [innerHTML]="locationResults" *ngIf="locationResults"></pre><br>
<hr>
<button (click) = "getReportResults()">Run Reports Page Tests</button>
<pre [innerHTML]="reportResults" *ngIf="reportResults"></pre><br>
<hr>
<button (click) = "getCreateBatchResults()">Run Create Batch Tests</button>
<pre [innerHTML]="createBatchResults" *ngIf="createBatchResults"></pre><br>
<hr>
<button (click) = "getManageBatchResults()">Run Manage Batch Tests</button>
<pre [innerHTML]="manageBatchResults" *ngIf="manageBatchResults"></pre><br>
<hr>
<button (click) = "getTrainerTestResults()">Run Trainer Tests</button>
<pre [innerHTML]="trainerResults" *ngIf="trainerResults"></pre><br>
<hr>
<button (click) = "getNavBarResults()">Run Nav Bar Tests</button>
<pre [innerHTML]="navBarResults" *ngIf="navBarResults"></pre><br>
<hr>
<button (click) = "getAssessBatchResults()">Run Assess Batch Tests</button>
<pre [innerHTML]="assessBatchResults" *ngIf="assessBatchResults"></pre><br>